name: Unit test & build

on:
  pull_request:
  workflow_dispatch:

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r src/requirements.txt

      - name: Run unit tests
        run: pytest -v

      - name: Docker build smoke test
        run: docker build -t fastapi-add:build-test .
